html {
    background-image: url(../../images/field_1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.login {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login__container {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #dcdcdc;
    padding: 30px 100px;
}

.login__container > .label {
    margin: 5px;
}

.login__textBox {
    padding: 10px;
    font-size: 18px;
    margin-bottom: 10px;
}

.login__btn {
    padding: 10px;
    font-size: 18px;
    margin-bottom: 10px;
    border: none;
    color: white;
    background-color: black;
    border-radius: 10px;
    margin-top: 10px;
}

.login__google {
    background-color: #4285f4;
}

.login div {
    margin-top: 7px;
}

.black {
    color: black;
}

.green {
    color: green;
}

.register {
    background-color: #199319;
    color: white;
    padding: 15px 25px;
    text-decoration: none;
    border-radius: 10px;
}

.register__separation {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #000000;
    margin: 1em 0;
    padding: 0;
    width: 100%;
}