.login__root {
    height: 100vh;
}

.login__content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.login {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login__container {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #dcdcdc;
    padding: 30px 100px;
    gap: 10px;
}

.app_name {
    font-family: "monospace";
}

.black {
    color: black;
}

.green {
    color: green;
}