.details__root {
  height: 100vh;
}

.details__content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.posts__details {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.details__container {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  text-align: left;
  background-color: #dcdcdc;
  padding: 20px 90px;
  overflow-y: scroll;
  height: 70%;
}

.details{
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  gap: 75px;
}

.back__btn{
  display: flex;
  width: 10px;
  margin: 0px;
  justify-content: left;
}