.profile__root {
    background-image: url(../../images/field_1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    width: 100vw;
}

.profile__content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.profile {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.profile__container {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    text-align: left;
    background-color: #dcdcdc;
    padding: 30px 100px;
    gap: 5px;
    overflow-y: scroll;
    height: 65%;
}

#profile_tag{
    text-align: center;
}
#back_btn{
    display: flex;
    width: 10px;
    margin: 0px;
    justify-content: left;
}

#profilePic{
    height: 55%;
    width: 55%;
    visibility: visible;
    background-color: gray;
    border-radius: 55%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.info{
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    gap: 50px;

}
