.profile__container {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    text-align: left;
    background-color: #dcdcdc;
    padding: 30px 100px;
    gap: 5px;
    
}

#profile_tag{
    text-align: center;
}
#back_btn{
    display: flex;
    width: 10px;
    margin: 0px;
    justify-content: left;
}

#profilePic{
    height: 150px;
    width: 150px;
    visibility: visible;
    background-color: gray;
    border-radius: 55%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.info{
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    gap: 50px;

}
