.register__root {
  height: 100vh;
}

.register__content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.register {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.register__long {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2em 0;
}

.register__container {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #dcdcdc;
  padding: 30px 100px;
  gap: 10px;
}

.app_name {
  font-family: "monospace";
}

.black {
  color: black;
}

.green {
  color: #55A630;
}