.register__background {
    background-image: url(../../images/field_1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.register__long {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2em 0;
}

.app_name {
    font-family: "monospace";
}